/* SCSS RGB 
$blue-crayola: rgba(96, 128, 255, 1);
$sky-blue-crayola: rgba(128, 236, 255, 1);
$light-gray: rgba(200, 214, 215, 1);
$space-cadet: rgba(33, 41, 92, 1);
$russian-violet: rgba(13, 6, 48, 1); 

Linear Gradient Affect --> background: linear-gradient(0deg, rgba(40, 44, 52, .5) 10%, rgba(108,56,170, .5) 50%, rgba(40, 44, 52, .5) 90%);
*/

/* General CSS rules */ 
a, a:hover {
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 2px solid rgba(13, 6, 48, 1);
}

h1 {
  color: rgba(33, 41, 92, 1);
  text-shadow: 0 10px 5px rgba(18, 0, 66, 0.5);
  font-weight: bold;
  padding-bottom: .5em;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App-header, .App-footer {
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(152, 136, 211, 1) 20%, rgba(58,52,126,1) 46%);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header img {
  max-width: 100%;
}

.homepage-title img {
  height: 10em;
}

.App-footer {
  background: linear-gradient(0deg, rgba(58,52,126,1) 30%,  rgba(152, 136, 211, 1) 75%);
  height: 2.5em;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

.App-link {
  color: #61dafb;
}

.nav {
  height: 4em ;
}

.nav-item {
  font-family: "Akaya Telivigala", cursive;
  font-size: 2em;
  color: rgba(4, 0, 37, 1);
  transition-property: all;
  transition-duration: .45s;
  margin: 2px, 15px;
}


.nav-item:hover {
  font-size: 2.1em;
  text-shadow: 5px 5px 5px rgba(18, 0, 66, 0.5);
}

.page {
  display: flex;
  justify-content: center;
  min-height: 50vh ;
  width: 100vw;
  background: rgb(220, 220, 255);
  padding: 1.5em 1.5em 5em 1.5em;
}

.span-emph {
  color: rgba(13, 6, 48, 1);
  font-weight:bold;
}

.icon-class {
  height: 2em;
}

.card-title {
  background: rgb(220, 220, 255);
  color: white;
}

.project-img {
  width: 100%;
}

.form-label {
  width: 15%;
}
/* More specific/unique CSS*/
.strike {
  text-decoration: line-through;
}

/* css for the MiniGame */
.mg-main{
  width: 100%;
}

.character {  
  border: 2px solid #282c34;
  width: 90%;
  margin: 1em;
}

.mg-board {
  width: 100%;
  min-height: 20vh;
}

.board-square {
  width: 15vh;
  height: 15vh;
  min-width: 50px;
  min-height: 50px;
  border: 2px solid #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 991px) {
  .nav-item {
    font-size: 1.3em;
    width: fit-content;
  }
  .nav-item:hover {
    font-size: 1.35em;
  }
  
}